.android/
.arduinoIDE/
.azd/
.azure/
.bash_history
.cache/
.cargo/
.docker/
.dotnet/
.eclipse/
.gitconfig
.gnupg/
.gradle/
.idea/
.ipython/
.keras/
.kube/
.labelImgSettings.pkl
.lesshst
.librarymanager/
.m2/
.matplotlib/
.nuget/
.p2/
.packagemanagement/
.rest-client/
.rustup/
.ssh/
.templateengine/
.viminfo
.vs/
.vscode/
AndroidStudioProjects/
AppData/
Contacts/
Dataset/
Dekstop/
